#map {
    height: 500px;
    /* O usa 100vh si quieres que ocupe toda la pantalla */
    width: 100%;
    border: 2px solid #ccc;
    /* Añade esto temporalmente para ver si el div aparece */
}

.contentMap{
    width: 70%;
}

.contentInfo{
    width: 28%;
}

.controls {
    display: flex;
    background: #e5e5e5;
    gap: 10px;
    align-items: flex-start;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .input-group {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        input {
            width: 100%;
            padding: 8px 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;

            &:focus {
                border-color: #3388ff;
            }
        }

        .error-text {
            font-size: 12px;
            margin-top: 4px;
            color: #e74c3c;
        }
    }

    button {
        cursor: pointer;
        padding: 8px 15px;
        border-radius: 4px;
        border: 1px solid #ddd;
        background-color: #f8f9fa;
        white-space: nowrap;

        &:hover {
            background-color: #e2e6ea;
        }
    }
}

#directions-container {
  margin-top: 15px;
  border: 1px solid #ddd;
  background: #fff;
  width: 100%;
  min-height: 50px;

  /* IMPORTANTE: Esto quita el panel del mapa y lo deja en tu div */
  .leaflet-routing-container {
    position: static !important; /* Quita el modo flotante */
    width: 100% !important;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: none !important;
    padding: 10px;
  }
}

/* Oculta el botón de cerrar que Leaflet pone por defecto */
.leaflet-routing-collapse-btn {
  display: none;
}