<h1>{{ page.title }}</h1>

<br>
<!-- Buscador de puntos -->
<div class="controls">
  <div class="input-group">
    <input type="text" [(ngModel)]="ubication.inputCoordinate"
      [pattern]="ubication.regularExpresion" [placeholder]="page.placeHolderInputCoordinate" />

    <div *ngIf="page.alertErrorSearch" class="error-text">
      Formato inválido. Usa: Latitud, Longitud
    </div>
  </div>

  <button class="btn-icon" (click)="foundCoords()">🔎</button>
  <button class="btn-text" (click)="clearLastMarkers()">Limpiar Mapa</button>
</div>

<br>

<!-- Mapa -->
<div style="display: flex;">
  <div class="controls contentMap">
    <div id="map"></div>
  </div>

  <!-- Buscador de ruta -->
  <div class="controls contentInfo">
    <!-- Origen -->
    <div class="input-group">
      <input type="text" [(ngModel)]="originDestination.inputOrigin"
        [pattern]="originDestination.regularExpresion" [placeholder]="originDestination.placeHolderOrigin" />

      <div *ngIf="originDestination.alertErrorOrigin" class="error-text">
        Formato inválido. Usa: Latitud, Longitud
      </div>
    </div>
    <br>
    <br>
    <!-- Destino -->
    <div class="input-group">
      <input type="text" [(ngModel)]="originDestination.inputDestination"
        [pattern]="originDestination.regularExpresion" [placeholder]="originDestination.placeHolderDestination" />

      <div *ngIf="originDestination.alertErrorDestination" class="error-text">
        Formato inválido. Usa: Latitud, Longitud
      </div>

      <!-- Direcciones -->
      <div id="directions-container"></div>
    </div>

    <button class="btn-icon" (click)="foundRoute()">🔎</button>
    <button class="btn-text" (click)="clearLastMarkers()">Limpiar Mapa</button>
  </div>
</div>
<router-outlet />